# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
*.env

# Ignore virtual environments
venv/
.env/

# macOS system files
.DS_Store

# VSCode settings (optional)
.vscode/

# PyCharm
.idea/